# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/旧代码
/国际政治事件_100_txt
/台湾岛内政治事件_100
/triples_zh_time
/.idea
